.body{
    /* background-color: red; */
    text-align: center;
    padding: 3rem;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer img{
    width: 400px;
}

.btn-zone{
    margin-top: 1rem;
}

.form{
    padding: 1rem;
    display: flex;
    width: 400px;
    margin: auto;
    flex-direction: column;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.form .form-group{
    margin-bottom: .5rem;
}

.form .form-group input{
    width: 90%;
    border: solid 1px #1a1a1a;
    padding: .5rem;
    border-radius: .25rem;
}

.form .form-group label{
    display: block;
}

.profile img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100px;
}